h1{
    color: rgb(141, 50, 55);
    text-align: center;
    font-weight: bold;
    border: 4px solid rgb(141, 50, 55);
    background-color: rgb(216, 215, 215);
}

.secciones{
    
    justify-content: center;
    gap: 20px;
    border: 4px solid rgb(141, 50, 55);
    width: 100%;
    height:75vh;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.contenedor{
    display: flex;
     flex-direction: row;
  gap: 10px;
}

.contenido{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(141, 50, 55);
    width: 99%;
    height: 90%;
    background-color: rgb(219, 211, 136);
}

.btn{

    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
}

#btnGuardarNota{
    padding: 10px;
    background-color: rgb(93, 209, 128);
    border-radius: 5px;
    color: white;
}

#btnGuardarNota:hover{
background-color: rgb(48, 134, 44);
transition: background-color 0.3s ease;
}

.secciones h2{
   margin: 0;
}
.secciones-editor{
     display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.secciones-notas{
     display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: fit-content;

}